.product {
  .card {
    padding: 1rem;
    margin-top: 1rem;
  }
  .review {
    border-top: 1px solid #ccc;
  ul {
      font-size: 28px;
    }
  }
  .details {
    padding-top: 2rem;
    display: flex;
    gap: 30px;
    .img {
      width: 400px;
      border-radius: 3px;
      img {
        border: 1px solid #ccc;
        width: 100%;
        padding: 30px;
      }
    }

    .content {
      width: 55%;
      padding: 0 5px;
      & > * {
        margin-bottom: 1rem;
      }
      .price {
        font-weight: 600;
        font-size: x-large;
        color: rgb(87, 87, 87);
      }

      .count {
        display: flex;
        align-items: center;

        & > * {
          margin-right: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .product {
    .details {
      flex-direction: column;

      .img {
        width: 100%;
        height: auto;
      }
      .price {
        font-size: medium;
      }
      .content {
        width: 100%;
      }
    }
  }
}
