.table {
  padding: 5px;
  width: 100%;
  overflow-x: auto;

  .search {
    width: 100%;
    max-width: 300px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;

    thead {
      border-top: 1px solid rgb(61, 60, 60);
      border-bottom: 1px solid rgb(61, 60, 60);
    }

    th {
      border: 1px solid rgb(61, 60, 60);
    }

    th,
    td {
      vertical-align: top;
      text-align: left;
      padding: 8px;
      &.icons {
        > * {
          cursor: pointer;
        }
      }
    }

    tr {
      border-bottom: 1px solid rgb(61, 60, 60);
    }

    tr:nth-child(even) {
      background-color: rgb(61, 60, 60)
    }
  }
}
