.table {
  padding: 5px;
  width: 100%;
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;

    thead {
      border-top: 1px solid rgb(17, 17, 17) ;
      border-bottom: 1px solid rgb(17, 17, 17);
    }

    th {
      border: 1px solid #3a3939;
    }

    th,
    td {
      vertical-align: top;
      text-align: left;
      padding: 8px;
      &.icons {
        > * {
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }

    tr {
      border-bottom: 1px solid #3d3c3c;
      cursor: pointer;
    }

    tr:nth-child(even) {
      background-color: #eee;
      color: rgb(51, 50, 50);
    }
    .pending {
      color: #0445d3;
      font-weight: 500;
    }
    .delivered {
      color: green;
      font-weight: 500;
    }
  }
}
