.product {
  display: flex;
  flex-wrap: wrap;
  // position: relative;
  justify-content: flex-end;

  .filter {
    width: 20%;
    // border: 2px solid var(--dark-blue);
    transition: all 0.3s;
  }

  .content {
    width: 80%;
    padding-left: 5px;
    position: relative;
  }
  .icon {
    display: none;
    // justify-content: center;
    align-items: center;

    right: 0;
    top: 0;
    cursor: pointer;

    & > * {
      padding-left: 5px;
    }
  }
  @media screen and (max-width: 1040px) {
    .filter {
      margin-top: 50px;
      width: 80%;
      background-color: #fff;
      border: 1px solid rgb(83, 82, 82);
      position: absolute;
      left: -200%;
      height: auto;
      padding: 1rem;
      z-index: 99;
    }
    .show {
      left: 0;
    }
    .content {
      width: 100%;
    }
    .icon {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border: 1px solid rgb(185, 182, 182);
      padding: 5px;
      border-radius: 10px;
    }
  }
}
